<% content_for :header_tags do %>
<script type="text/javascript">
jQuery(document).ready(function() {
   jQuery('#commit').bind("click",function()
   {
       var imgVal = jQuery('#file').val();
       if(imgVal=='')
       {
           alert("empty input file");
           return false;
       }
       return true;
   });
});
</script>
<% end %>

<%= my_render_flash_messages %>
<h2><%=l(:label_issue_importer)%></h2>

<% form_tag({:action => 'match'}, {:multipart => true}) do %>
	<%= hidden_field_tag 'project_id', @project.id %>
  	
	<p><label><%=l(:label_upload_notice)%></label><br/>
	<%= file_field_tag 'file', :size => 60%></p>

	<fieldset class="box"><legend><%= l(:label_upload_format) %></legend>
		 <p><label><%=l(:label_upload_encoding)%></label>
		<%= select_tag "encoding", "<option value=\"U\">UTF8</option><option value=\"EUC\">EUC</option><option value=\"S\">SJIS</option><option value=\"N\">None</option>" %></p>
		
		<p><label><%=l(:label_upload_splitter)%></label>
		<%= text_field_tag "splitter", ',', {:size => 3, :maxlength => 1}%></p>
		
		<p><label><%=l(:label_upload_wrapper)%></label>
		<%= text_field_tag "wrapper", '"', {:size => 3, :maxlength => 1}%></p>

		 <p><label>Saved FORMAT:</label>
                <%= select( "csv_header", "id", @csv_headers.map {|u| [u.title,u.id]}, {:prompt => 'Default'}) %>
                 </p>
		
	</fieldset>	

	<%= submit_tag l(:button_upload), :id => :commit %>
<% end %>

